<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>WorkFlo</title>
        <link rel="icon" href="{{ url_for('static', filename='assets/favicon.svg') }}" type="image/svg+xml">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
    {% from "bootstrap5/form.html" import render_form %}
        <div class="d-flex" id="wrapper">
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">WorkFlo<i class="bi bi-cloud-haze2"></i></div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('overview') }}">Overview</a>
                    <a class="list-group-item list-group-item-action list-group-item-dark p-3" href="{{ url_for('dashboard') }}">Dashboard</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('projects') }}">Projects</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('events') }}">Calendar</a>
                </div>
            </div>
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid gap-2">
                        <button class="btn btn-secondary" id="sidebarToggle"><i class="bi bi-chevron-double-left"></i></button>
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#add-todo"><i class="bi bi-patch-plus"></i> Add Todo</button>
                        {% if current_user.is_admin == True %}
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#work-state"><i class="bi bi-patch-plus"></i> Add WorkFlo</button>
                        {% endif %}
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item"><a class="nav-link" >{{ current_user.name }}</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-gear-wide"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="{{ url_for('settings') }}">Settings</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="modal fade" id="add-todo" tabindex="-1" aria-labelledby="add-todo-label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="add-todo-label">Add Todo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <div class="col-lg-8 col-md-10 mx-auto">
                            {{ render_form(form, novalidate=True,button_map={"submit": "success"}) }}
                          </div>
                      </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="work-state" tabindex="-1" aria-labelledby="work-state-label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="work-state-label">Add WorkFlo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <div class="col-lg-8 col-md-10 mx-auto">
                            {{ render_form(work_state_form, novalidate=True,button_map={"save": "success"}) }}
                          </div>
                      </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container-fluid">

                    <div class="row gy-1 dashboard-scroll flex-nowrap">
                        {% for row in work_states %}
                            {% for work_state in row %}
                        <div class="col-md-auto">
                            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;">
                                <a  class="d-flex align-items-center flex-shrink-0 p-3  text-decoration-none border-bottom">
                                  <span class="fs-5 fw-semibold">{{ work_state.work_state }}</span>
                                </a>
                                <div class="list-group scrollarea">
                                    {% for row in todos %}
                                    {% for todo in row%}
                                      {% if todo.work_state == work_state.id %}
                                      <a href="{{ url_for('work_view', id=todo.id) }}"  class="list-group-item list-group-item-action py-3 mb-2 border rounded lh-sm" aria-current="true">
                                        <div class="d-flex w-100 align-items-center justify-content-between">
                                          <strong class="mb-1">{{ todo.title }}</strong>
                                          <small>{{ todo.due_date }}</small>
                                        </div>
                                          <div class="col-8 mb-1 small fst-italic">{{ todo.subtitle }}</div>
                                        <div class="d-flex w-100 align-items-center justify-content-between">
                                            <small>{{ todo.project.project }}</small>
                                            <small>{{ todo.author.name }}</small>
                                        </div>
                                      </a>
                                      {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                            {% endfor %}
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
        {% if form_error %}
        <script type="text/javascript">
            window.onload = () => {
              const myModal = new bootstrap.Modal('#add-todo');
              myModal.show();
            }
        </script>
        {% endif %}
        {% if work_state_form_error %}
        <script type="text/javascript">
            window.onload = () => {
              const myModal = new bootstrap.Modal('#work-state');
              myModal.show();
            }
        </script>
        {% endif %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
