<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>WorkFlo</title>
        <link rel="icon" href="{{ url_for('static', filename='assets/favicon.svg') }}" type="image/svg+xml">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
    {% from "bootstrap5/form.html" import render_form %}
        <div class="d-flex" id="wrapper">
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">WorkFlo<i class="bi bi-cloud-haze2"></i></div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('overview') }}">Overview</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('dashboard') }}">Dashboard</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('projects') }}">Projects</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('events') }}">Calendar</a>
                </div>
            </div>
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid gap-2">
                        <button class="btn btn-secondary" id="sidebarToggle"><i class="bi bi-chevron-double-left"></i></button>
                        <button class="btn btn-success " data-bs-toggle="modal" data-bs-target="#select_work_state"><i class="bi bi-arrows-expand-vertical"></i> Change Work State</button>
                        <button class="btn btn-success " data-bs-toggle="modal" data-bs-target="#edit-todo"><i class="bi bi-pencil-square"></i> Edit</button>
                        {% if user_is_subscribed_to_updates %}
                            {{ render_form(unsubscribe_form, novalidate=True,button_map={"unsubscribe": "success"}) }}
                        {% endif %}
                        {% if not user_is_subscribed_to_updates %}
                            {{ render_form(subscribe_form, novalidate=True,button_map={"subscribe": "success"}) }}
                        {% endif %}
                        <button class="btn btn-danger"><a href="{{ url_for('delete_todo', id=todo.id) }}" class="align-bottom btn-link-decor-none"><i class="bi bi-trash text-start"></i></a></button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item"><a class="nav-link" >{{ current_user.name }}</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-gear-wide"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="{{ url_for('settings') }}">Settings</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="modal fade" id="select_work_state" tabindex="-1" aria-labelledby="select_work_state-label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="add-todo-label">Change Work State</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            {% for message in messages %}
                                <p class="flash">{{ message }}</p>
                            {% endfor %}
                          {% endif %}
                        {% endwith %}
                          <div class="col-lg-8 col-md-10 mx-auto ">
                              <p class="fs-5">{{ current_work_state }}</p>
                              <div class="fs-2"><i class="bi bi-arrow-down"></i></div>
                            {{ render_form(work_state_change_form, novalidate=True,button_map={"save": "success"}) }}
                          </div>
                      </div>
                      <div class="modal-footer">

                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="edit-todo" tabindex="-1" aria-labelledby="edit-todo-label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="edit-todo-label">Edit Todo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            {% for message in messages %}
                                <p class="flash">{{ message }}</p>
                            {% endfor %}
                          {% endif %}
                        {% endwith %}
                          <div class="col-lg-8 col-md-10 mx-auto">
                            {{ render_form(edit_form, novalidate=True,button_map={"save_updates": "success"}) }}
                          </div>
                      </div>
                      <div class="modal-footer">

                      </div>
                    </div>
                  </div>
                </div>
                <div class="todo-scroll">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-2 pt-2 border border-bottom-0 border-start-0 border-secondary-subtle rounded-top">
                        <h2 class="fst-italic text-wrap">{{ current_work_state }}</h2>
                          <h4 class="fst-italic">{{ current_project }}</h4>
                      </div>
                      <div class="col-md-7 pt-2 d-flex justify-content-center text-center border border-bottom-0 border-start-0 border-end-0 border-secondary-subtle rounded-top">
                        <div class="post-heading">
                          <h1 class="text-decoration-underline">{{ todo.title }}</h1>
                          <h3 class="subheading fst-italic">{{ todo.subtitle }}</h3>
                            <small class="fst-italic">Due {{ todo.due_date }}</small>
                        </div>
                      </div>
                      <div class="col-md-3 pt-2 border border-bottom-0 border-secondary-subtle rounded-top ">
                          <div>
                              {{ render_form(comment_form, novalidate=True,button_map={"submit_comment": "secondary"}) }}
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="container-fluid">
                    <div class="row gx-4">
                      <div class="col-md-2 border border-top-0 border-start-0 border-secondary-subtle rounded-bottom">
                        <form method=post enctype=multipart/form-data class="pt-1">
                          <input class="form-control form-control-sm bg-secondary upload" type=submit value=Upload>
                          <input class="form-control form-control-sm" type=file name=file>
                        </form>
                          {% if todo.files %}
                              {% for row in files %}
                                {% for file in row %}
                                <div class="list-group-flush overflow-auto pt-1">
                                    <a href="{{ url_for('download_file', post_id=todo.id, file_id=file.id) }}" target="_blank" class="list-group-item list-group-item-action flex-column d-flex justify-content-center text-center"><small>{{ file.filename }}</small></a>
                                </div>
                                {% endfor %}
                              {% endfor %}
                          {% endif %}
                      </div>
                      <div class="col-md-7 border border-top-0 border-start-0 border-end-0 border-secondary-subtle rounded-bottom pt-2">
                          <hr>
                          <p class="fst-italic  py-1">Posted by {{ todo.author.name }} on {{ todo.date_created }}</p>
                            {{ todo.body|safe }}
                          <hr>
                      </div>

                        <div class="col-md-3 comment-scroll border border-top-0 border-secondary-subtle rounded-bottom pt-1">
                            {% if todo.comments %}
                                {% for row in comments %}
                                    {% for comment in row %}
                                        {% if comment.post_id == todo.id %}
                                        <div class="list-group overflow-auto pt-1">
                                            <a class="list-group-item list-group-item-action flex-column align-items-start ">
                                            <div class="d-flex w-100 align-bottom">
                                              <p class="mb-1 fs-5 fw-medium">{{ comment.comment_author.name }}<small class="text-muted mb-1 fs-6 fw-light">    {{ comment.date }}</small></p>
                                            </div>
                                            <p class="mb-1 fst-italic">{{ comment.text }}</p>
                                          </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                          {% endif %}
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>